/.IntelliJIdea
/.Xauthority
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.dmrc
/.noindex
/.spam-filter
/.ssh
/.vscode
/.vscode-server
/.wget-hsts
/Documents
/Windows
/cs221
/eclipse-formatter.xml
/hs_err_pid3644712.log
/hs_err_pid3645019.log
/hs_err_pid3645262.log
/hs_err_pid3645389.log
/hs_err_pid3645540.log
/replay_pid3645262.log